body {
  background-image: url(lilith.jpg);
}

h3 {
  color: white;
  font-family: sans-serif;
  padding: 0px;
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 100px;
}

.premissa {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}

a {
  color: white;
  font-family: sans-serif;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 840px;
  margin-top: 50px;
}

h2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
