.lilith {
  padding: 0px;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
  padding: 20px;
}

body {
  background-image: url(lilith.jpg);
}

.historia {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 50px;
  font-size: 30px;
}

a {
  color: white;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 840px;
  margin-top: 50px;
}

h2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
